ENVIRONMENT=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Server port
AUTH_SERVICE_HTTP_PORT=
AUTH_SERVICE_GRPC_PORT=
USER_SERVICE_HTTP_PORT=
USER_SERVICE_GRPC_PORT=