APP_PORT=
APP_ENV=
APP_CLIENT_URL=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_PASSWORD_RESET_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
JWT_PASSWORD_RESET_EXPIRES_IN= 
JWT_ISSUER=

REDIS_ADDR=
REDIS_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=